@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-family: "PT Sans";
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #242424;
  background-color: #ffffff;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: inline-block;
  cursor: pointer;
  font-family: inherit;
  text-align: center;
  padding: 0;
  font-weight: 700;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

.button-small-brown {
  margin-left: 20px;
  width: 130px;
  padding: 9px 15px;
  background-color: #756257;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
  color: #ffffff;
}
.button-small-brown:hover {
  background: #615048;
}
.button-small-brown:focus {
  outline: 3px solid #83b3d3;
  background: #615048;
}
.button-small-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
  outline: none;
}
.button-big-brown {
  background-color: #756257;
  font-size: 20px;
  line-height: 36px;
  width: 575px;
  padding: 12px 0;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
}
.button-big-brown:hover {
  background: #615048;
}
.button-big-brown:focus {
  outline: 3px solid #83b3d3;
  background: #615048;
}
.button-big-brown:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
  outline: none;
}

.newsletter-button {
  background-color: #83b3d3;
  display: block;
  font-size: 20px;
  line-height: 26px;
  width: 200px;
  height: 60px;
  border-radius: 0 10px 10px 0;
}
.newsletter-button:hover {
  background: #68a2ca;
}
.newsletter-button:focus {
  outline: 3px solid #756257;
  background: #68a2ca;
}
.newsletter-button:active {
  color: #ffffff;

  background: #68a2ca;
  outline: none;
}
.newsletter-button:active .form-text {
  color: #ffffff;
  opacity: 0.3;
}

.button-blue {
  background-color: #83b3d3;
  margin-bottom: 20px;
  display: block;
  width: 160px;
  height: 48px;
  font-size: 16px;
  line-height: 20px;
  border-radius: 4px;
}

.button-blue:hover {
  background: #68a2ca;
}
.button-blue:focus {
  outline: 3px solid #ffffff;
  background: #68a2ca;
}
.button-blue:active {
  color: #ffffff;

  background: #68a2ca;
  outline: none;
}
.button-blue:active .button-blue-text {
  color: #ffffff;
  opacity: 0.3;
}
.button-reset {
  color: rgba(255, 255, 255, 1);
  background-color: transparent;
  text-transform: none;
  border: none;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  display: block;
  width: 100px;
  height: 32px;
  text-align: center;
}
.button-reset:hover {
  opacity: 0.6;
}
.button-reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}
.button-reset:active {
  opacity: 0.3;
  outline: none;
}
.button-dark {
  border: 2px solid #e6e6e6;
  border-radius: 4px;

  color: #ffffff;
  background-color: #ffffff;
}
.button-light {
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: #ffffff;
}
.hostels-button {
  background-color: #756257;
  font-size: 16px;
  line-height: 21px;
  display: block;
  width: 133px;
  padding: 10px 0;
  border-radius: 4px;
}

.hostels-button:hover {
  background: #615048;
}
.hostels-button:focus {
  outline: 3px solid #83b3d3;
  background: #615048;
}
.hostels-button:active {
  color: rgba(255, 255, 255, 0.3);
  background: #615048;
  outline: none;
}
.button-favourites {
  background-color: #83b3d3;
  font-size: 16px;
  line-height: 21px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  display: block;
}
.button-favourites:hover {
  background: #68a2ca;
  border: 1px solid #756257;
}
.button-favourites:focus {
  outline: 3px solid #756257;
  background: #68a2ca;
}
.button-favourites:active {
  color: #ffffff;

  background: #68a2ca;
  outline: none;
}
.button-favourites:active .button-favourites-text {
  color: #ffffff;
  opacity: 0.3;
}
.button-already-favourites {
  background-color: #7db54f;
  font-size: 16px;
  line-height: 21px;
  width: 140px;
  height: 37px;
  border-radius: 4px;
  display: block;
}
.button-already-favourites:hover {
  background: #6c9e42;
}
.button-already-favourites:focus {
  outline: 3px solid #756257;
  background: #6c9e42;
}
.button-already-favourites:active {
  color: #ffffff;

  background: #6c9e42;
  outline: none;
}
.button-already-favourites:active .button-already-favourites-text {
  color: #ffffff;
  opacity: 0.3;
}
.pagination-show-more {
  padding: 0;
  background-color: #83b3d3;
  font-size: 20px;
  line-height: 26px;
  width: 620px;
  height: 60px;
  border-radius: 4px;
  text-align: center;
}
.pagination-show-more:before {
  position: absolute;
  height: 0px;
  left: 1167px;
  right: -942px;
  top: 1658px;
  border: 1px solid #e6e6e6;
  transform: rotate(180deg);
}
.pagination-show-more:hover {
  background: #68a2ca;
}
.pagination-show-more:focus {
  outline: 3px solid rgba(117, 98, 87, 1);
}
.pagination-show-more:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
  outline: none;
}
.button_link {
  font-size: 20px;
  line-height: 36px;

  text-align: center;
  color: #ffffff;

  text-decoration: none;
  text-transform: uppercase;
}
.page-header {
  color: #000000;
  background-color: #ffffff;
}

.parent {
  margin-bottom: 63px;
  margin-top: -5px;
  background-image: url("../img/index-background.jpg");
  width: 1200px;
  height: 485px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
.main-logo {
  margin-bottom: 26px;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}
.navigation-logo {
  display: flex;
  width: 140px;
  margin-right: 30px;
  margin-left: 70px;
}
.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 630px;
}
.navigation-user-container {
  align-items: center;
  display: flex;
}
.navigation-user {
  width: 400px;
  margin: 0;
}

.navigation-link {
  position: relative;
  display: block;
  padding: 20px 17px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
.navigation-link-current {
  text-decoration: underline 2px solid #756257;
  text-underline-offset: 24px;
}

.navigation-link:hover {
  color: #756257;
}
.navigation-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.navigation-user-link:hover {
  color: #756257;
}

.navigation-link:hover .navigation-icon {
  fill: #756257;
}
.navigation-link:active .navigation-icon {
  fill: rgba(117, 98, 87, 0.3);
}
.navigation-link:visited .navigation-icon {
  border-top: 2px solid #756257;
}
.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}
.navigation-user-link {
  width: 12px;
  height: 25px;
}
.navigation-user-link .navigation-link {
  min-width: 16px;
  min-height: 22px;
}
.navigation-item {
  margin: 0;
  padding: 0;
}
.navigation-item-button {
  display: flex;
  align-items: center;
  height: 66px;
}

.favorite-navigation-text {
  position: absolute;
  justify-content: center;
  width: 20px;
  height: 20px;
  left: 28px;
  top: 15px;
  background: #7db54f;
  font-style: normal;
  font-weight: 400;
  border-radius: 10px;
  font-size: 10px;
  line-height: 13px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #ffffff;
}
.main-container {
  flex-grow: 1;
}
.logo {
  z-index: 1;
}
.page-container {
  width: 1200px;
  margin: 0 auto;
}
.container-main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}
.main-text {
  margin: 0;
  margin-bottom: 31px;
  max-width: 720px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.main-description-text {
  margin: 0;
  margin-bottom: 80px;
  max-width: 720px;
  font-size: 22px;
  line-height: 36px;
  text-align: center;
}

.container-advantages {
  margin: 0;
  width: 1200px;
  display: flex;
}
.container-advantages-reverse {
  flex-direction: row-reverse;
}
.advantages-list {
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.advantages-title {
  margin: 0;
  margin-bottom: 30px;
  max-width: 150px;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.title--white {
  margin-bottom: 30px;
  display: block;
  max-width: 200px;
  max-height: 55px;
  color: #ffffff;
}
.title-logo {
  margin-bottom: 20px;
}
.section_logo {
  margin-bottom: 23px;
}

.advantages-number {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  text-align: center;
  color: #000000;
}

.number--white {
  color: #ffffff;
}

.advantages-description {
  margin: 0;
  max-width: 250px;
  max-height: 73px;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
}
.description--white {
  max-width: 220px;
  max-height: 63px;
  color: #ffffff;
}
.description-logo {
  padding: 0;
  margin: 0;
}

.advantages-item {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 384px;
  background: rgba(131, 179, 211, 0.12);
}
.advantages-item-logo {
  padding-top: 90px;
  justify-content: start;
}
.advantages-item--blue {
  background: #83b3d3;
}

.advantages-item--white {
  background: #ffffff;
}

.advantages-item--grey {
  background: rgba(131, 179, 211, 0.2);
}

.section_picture {
  margin-left: auto;
  width: 800px;
  height: 384px;
  background-color: #ffffff;
  background-image: url("../img/photo-1.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}
.advantages-item-picture {
  width: 800px;
  height: 384px;
}

.search-hostel {
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 1200px;
  height: 417px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  background: #ffffff;
  justify-content: center;
  align-items: center;
}

.search-hostel-title {
  margin: 0;
  margin-bottom: 29px;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}
.search-hostel-text {
  max-width: 720px;
  margin: 0;
  margin-bottom: 56px;

  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: rgba(51, 51, 51, 1);
}

.main-index {
  color: #000000;
  background-color: #ffffff;
}
.newsletter {
  padding: 94px 0 0 0;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1200px;
  height: 316px;
  background-image: url("../img/background-footer.jpg");
  background-repeat: no-repeat;
}
.newsletter-catalog {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 1200px;

  background: #ffffff;
}
.footer-background {
  position: relative;
}
.page-footer-title {
  margin: 0 auto;
  margin-bottom: 29px;
  font-size: 30px;
  height: 36px;

  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}
.page-footer-title-catalog {
  color: #000000;
}

.page-footer-text {
  margin: 0;
  height: 52px;
  max-width: 500px;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  display: block;
  block-size: auto;
}
.page-footer-text-catalog {
  color: #333333;
}
.newsletter-form {
  margin-top: 46px;
  display: flex;
}
.contact-container {
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  display: flex;
  width: 1200px;
  height: 120px;
  text-align: center;
  background: #ffffff;
}
.field {
  font: inherit;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
  background: #f2f2f2;
  border-radius: 10px 0px 0px 10px;

  width: 559px;
  padding: 0 19px 0 22px;
  border: none;
}
.field:hover {
  background: #e6e6e6;
}
.field:focus {
  background: #e6e6e6;
  outline: 3px solid #83b3d3;
  border: none;
}

.field:invalid {
  background: #ffffff;
  border: 2px solid #ff5757;
}

.footer-social-list {
  width: 129px;
  height: 40px;
  padding: 0;
  margin: 0 0 0 72px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.footer-social-item {
}

.footer-social-link {
  position: relative;
  display: inline-block;
  width: 26px;
  height: 26px;
  padding: 7px;
}
.footer-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  fill: #83b3d3;
}
.footer-social-link:hover .footer-icon {
  fill: #68a2ca;
}
.footer-social-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.footer-social-link:focus .footer-icon {
  fill: #68a2ca;
}

.footer-social-link:active {
  outline: none;
}
.footer-social-link:active .footer-icon {
  opacity: 0.3;
  outline: none;
}

.footer-contact {
  display: flex;
}
.contact-number {
  position: relative;
  display: inline-block;
  width: 360px;
  height: 70px;
}
.contact-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.contact-number:hover .contact-icon {
  fill: rgba(117, 98, 87, 1);
}
.contact-number:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.contact-number:focus .contact-icon {
  fill: rgba(117, 98, 87, 1);
}

.contact-number:active {
  outline: none;
}
.contact-number:active .contact-icon {
  opacity: 0.3;
  outline: none;
}
.footer-academy {
  display: flex;
  align-items: center;
  margin: 0;
  margin-right: 49px;
}

.htmlacademy-link {
  position: relative;
  display: inline-block;
  width: 160px;
  height: 70px;
}
.htmlacademy-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.htmlacademy-link:hover .htmlacademy-icon {
  fill: rgba(117, 98, 87, 1);
}
.htmlacademy-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}
.htmlacademy-link:focus .htmlacademy-icon {
  fill: rgba(117, 98, 87, 1);
}

.htmlacademy-link:active {
  outline: none;
}
.htmlacademy-link:active .htmlacademy-icon {
  opacity: 0.3;
  outline: none;
}
/* Страница Каталога */

.main-inner {
  color: #242424;
  background-color: #ffffff;
}
.inner-header {
  margin: 0 auto;
  color: #ffffff;
  flex-direction: column;
  display: flex;
  width: 1200px;
  height: 408px;
  background-image: url("../img/catalog-background 1.png");
  margin-top: -5px;
}
.catalog-products-picture {
  position: relative;
}
.inner-header-title {
  margin: 0;
  padding: 35px 0 0 71px;
  width: 528px;
  font-size: 60px;
  line-height: 78px;
}
.breadcrumbs {
  margin: 0;
  display: flex;
  padding: 0 66px;
  margin-bottom: 45px;
}
.breadcrumbs-item {
  position: relative;
  margin-right: 16px;
}
.breadcrumbs-item::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 5px;
  height: 5px;
  top: 8px;
  right: -10px;
  border-top: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  transform: rotate(45deg);
  opacity: 0.3;
}
.breadcrumbs-item:last-child::after {
  content: none;
}
.breadcrumbs-link {
  display: block;
  width: 22px;
  height: 21px;
  text-align: center;
}

.breadcrumbs-link-text {
  text-decoration: none;
  color: #ffffff;
  display: block;
  width: 82px;
  text-align: center;
  height: 21px;
}

.main-page {
  width: 12px;
  height: 12px;
}
.main-page:hover {
  opacity: 0.6;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border: none;
  border-radius: 4px;
}
.breadcrumbs-link:active {
  opacity: 0.3;
  outline: none;
}
.main-page:active {
  opacity: 0.3;
  outline: none;
}
.breadcrumbs-link-text:hover {
  opacity: 0.6;
}
.breadcrumbs-link-text:focus {
  outline: 3px solid #83b3d3;
  border: none;
  border-radius: 4px;
}
.breadcrumbs-link-text:active {
  opacity: 0.3;
  outline: none;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: 21px;
}

/* Форма с фильтрами */
.catalog-filter {
  display: flex;

  color: #ffffff;
}
.catalog-filter-list {
  padding: 0;
  margin: 0;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 30px;
}
.catalog-filter-group {
  margin-left: 70px;
  padding: 0;
  border: none;
}
.control {
  position: relative;
  display: block;
  padding-left: 39px;
  margin-bottom: 13px;
}

.control-mark {
  position: absolute;
  top: 3px;
  left: 0;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border-radius: 4px;
  border: none;
}
.control:hover .control-mark {
  opacity: 0.6;
}
.control-mark:focus {
  outline: 3px solid #83b3d3;
  opacity: 0.6;
}
.control:active .control-mark {
  outline: none;
  opacity: 0.3;
}
.control-input[type="checkbox"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
  opacity: 0.6;
}
.control-input[type="checkbox"]:checked + .control-mark::after {
  position: absolute;
  background-image: url(../img/Vector1.svg);
  background-repeat: no-repeat;
  top: 5px;
  left: 4px;
  width: 12px;
  height: 12px;
  content: "";
}
.cost::-webkit-outer-spin-button,
.cost::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
.cost-1::-webkit-outer-spin-button,
.cost-1::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
/* Radio */
.control-input[type="radio"] + .control-mark {
  border-radius: 50%;
}
.control-input[type="radio"]:focus + .control-mark {
  outline: 3px solid #83b3d3;
  opacity: 0.6;
}
.control-input[type="radio"]:checked + .control-mark::after {
  position: absolute;
  background-image: url(../img/Ellipse4.svg);
  background-repeat: no-repeat;
  top: 5px;
  left: 5px;
  width: 12px;
  height: 12px;
  content: "";
}

.catalog-filter-group-cost {
  margin-left: 167px;
  padding: 0;
  border: none;
}
.input-cost {
  position: relative;
  width: 287px;
  margin-bottom: 32px;
}
.cost-text {
  position: absolute;
  color: white;
  opacity: 0.3;
  left: 112px;
  top: 12px;
}
.cost-text1 {
  position: absolute;
  color: white;
  opacity: 0.3;
  left: 250px;
  top: 12px;
}
.cost {
  display: block;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  padding: 0;
  padding-left: 19px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 4px 0 0 4px;
  border-right: none;
  color: white;
}
.cost:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.cost:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 3px #81b3d2, 1px 0px 0px 3px #81b3d2;
}
.cost:active {
  outline: none;
  box-shadow: none;
  background-color: #756257;
}
.cost-1 {
  display: block;
  box-sizing: border-box;
  width: 143px;
  height: 48px;
  padding: 0;
  padding-left: 19px;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 0px 4px 4px 0;
  color: white;
}
.cost-1:hover {
  border-color: rgba(255, 255, 255, 0.6);
}
.cost-1:focus {
  outline: none;
  box-shadow: inset 0px 0px 0px 3px #81b3d2, 1px 0px 0px 3px #81b3d2;
}
.cost-1:active {
  outline: none;
  box-shadow: none;
  background-color: #756257;
}
.range-scale {
  position: relative;
  height: 4px;
  background-color: rgb(255, 255, 255, 0.3);
}
.range-bar {
  position: absolute;
  opacity: 1;
  height: 4px;
  background-color: #ffffff;
}
.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-toggle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.4);
  border-radius: 5px;
}
.range-toggle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}
.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}
.buttons {
  display: flex;
  flex-direction: column;
  margin-top: 56px;
  margin-left: 81px;
  align-items: center;
}

.Search_hotels {
  display: flex;
  padding-top: 44px;
  margin-bottom: 53px;
}
.search_hostels_title {
  color: rgba(0, 0, 0, 1);
  margin: 0 192px 0 71px;
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
.select {
  position: relative;
  display: flex;
  align-items: center;
  width: 260px;
  margin-right: auto;
}
.select-control {
  width: 287px;
  margin: 0;
  padding: 12px 19px;
  padding-right: 80px;
  font: inherit;
  font-size: 18px;
  line-height: 23px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  appearance: none;
  background-image: url(../img/Vector-arrow.svg);
  background-repeat: no-repeat;
  background-position: right 16px center;
}
.select-control:hover {
  border: 2px solid #83b3d3;
}
.select-control:focus {
  border: 2px solid #83b3d3;
  outline: none;
}
.select-control:active {
  opacity: 0.3;
}
.select-hostels {
  width: 160px;
  height: 48px;
  padding: 13px 17px;
  padding-right: 80px;
}
.button-catalog {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
}
.button-catalog-current {
  border: 2px solid #000000;
}
.button-catalog:hover {
  border: 2px solid #83b3d3;
}

.button-catalog:focus {
  outline: 2px solid #83b3d3;
  border: none;
}
.buttons-catalog-container {
  display: flex;
  margin-left: 81px;
}
/* Стилизация гостиниц */

.catalog-products {
  background-color: #ffffff;
  width: 1200px;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.input-cost {
  display: flex;
}
.hostels-list {
  display: grid;
  grid-template-columns: repeat(3, 340px);
  gap: 18px;
  padding: 0;
  margin: 0;
}

/* Item */
.hostels-item {
  display: grid;
  background-color: #ffffff;
  grid-template-rows: repeat(5, auto);
  grid-template-columns: repeat(1, 300px);
  align-items: center;
  row-gap: 16px;
  justify-content: center;
}
.hostels-img-link {
  text-decoration: none;
  height: 206px;
}
.hostels-image-container {
  display: grid;
  align-items: center;
}
.hostels-image:hover {
  opacity: 0.6;
}
.hostels-img-link:focus {
  outline: 3px solid #83b3d3;
}
.hostels-img-link:active {
  outline: none;
}
.hostels-image:active {
  opacity: 0.3;
  outline: none;
}
.hostels-price-container {
  display: grid;
  grid-template-columns: 160px 140px;
  align-items: center;
}
.hostels-button-container {
  display: grid;
  grid-template-columns: 160px 140px;
  align-items: center;
}

/* Link */
.hostels-link {
  text-decoration: none;
}

/* Title */
.hostels-title {
  margin: 0;
  font-size: 24px;
  line-height: 31px;
  color: #000000;
}

/* Price */

.hostels-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hostels-price1 {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hostels-reit-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.reit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 21px;
  width: 160px;
  height: 37px;
  background: #f2f2f2;
  border-radius: 4px;
  color: #333333;
}

.pagination-button {
  position: relative;

  padding: 30px 0;
  display: flex;
  width: 1200px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pagination-button::before {
  content: "";
  position: absolute;
  top: 0;
  width: 1055px;
  border: 1px solid rgba(230, 230, 230, 1);
  transform: rotate(180deg);
}
.pagination-button::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 1055px;
  border: 1px solid rgba(230, 230, 230, 1);
  transform: rotate(180deg);
}

/* Пагинация */
.pagination-container {
  display: flex;
  padding: 30px 0;
}
.select-control-container {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.pagination-text {
  width: 175px;
  height: 23px;
  font-size: 18px;
  color: #333333;
  margin-right: 51px;
}

/* Link */
.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}
.pagination-item:not(:last-child) {
  margin-right: 8px;
}
.pagination-link {
  padding: 15px;
  display: block;
  text-align: center;
  box-sizing: border-box;
  color: #ffffff;
  background-color: #83b3d3;
  text-decoration: none;
  line-height: 25px;
  font-size: 20px;
  font-weight: 700;
  width: 55px;
  border-radius: 4px;
}
.pagination-link:hover {
  background-color: #68a2ca;
}

.pagination-link:focus {
  outline: 3px solid #756257;
  background-color: #68a2ca;
}
.pagination-current {
  color: #242424;
  background-color: #f2f2f2;
}
.pagination-current:hover {
  background-color: #f2f2f2;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background: #68a2ca;
  outline: none;
}
.pagination-current:active {
  color: #242424;
  background-color: #f2f2f2;
}
.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(242, 242, 242, 0.8);
}
.modal {
  position: relative;
  margin: auto;
  padding: 40px;
  background: #ffffff;
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.15);
  border-radius: 70px;
}
.modal-search {
  width: 575px;
}
.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 53px;
  height: 53px;
  background-color: #f2f2f2;
  border: none;
  background-image: url(../img/Close.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  border-radius: 50%;
}
.modal-title {
  display: block;
  width: 500px;
  height: 67px;
  margin: 0 25px 32px 0;
  font-family: "PT Sans";
  font-weight: 700;
  font-size: 30px;
  line-height: 40px;
  color: #000000;
  text-transform: uppercase;
}
